@page
@model IndexModel
@{
    ViewData["Title"] = "PDF To Text Convertion";
}
<!DOCTYPE html>
<html>
    <head>
        <title>PDF Upload</title>
        <link href="~/css/site.css" rel="stylesheet" /> 
    </head>
    <body>
        <div class="upload-container">
             <div style="display: flex; align-items: center; gap: 10px;">
                <form method="post" enctype="multipart/form-data" target="uploadIframe">
                      <input type="file" name="File" accept=".pdf" required />
                      <button type="submit">Upload PDF</button>
                </form>
                 <form method="post" asp-page="/Index" asp-page-handler="download">
                    <button type="submit">Download</button>
                </form>
             </div>
             <iframe id="uploadIFrame" name="uploadIframe"></iframe>
        </div>
         
    </body>
</html>
 

 
