<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://syncpationtdataapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/293caa52-ebff-42e6-9e6f-48771148aeed/resourceGroups/learn-75238d25-5bfd-41c0-8438-f8a134f4aa2e/providers/Microsoft.Web/sites/SyncPationtDataApp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>syncpationtdataapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>SyncPationtDataApp</DeployIisAppPath>
  </PropertyGroup>
</Project>