<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://syncpationdataapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f26515d9-3bc6-4a50-8192-cb816a833f54/resourceGroups/learn-93cb78f5-0796-43ec-a447-406a8b340ae2/providers/Microsoft.Web/sites/SyncPationDataApp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>syncpationdataapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>SyncPationDataApp</DeployIisAppPath>
  </PropertyGroup>
</Project>