@using PharmaClinicalSuite.Domain.Models
@model Visit

@{
    Layout = null;
    var participantId = ViewData["ParticipantId"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_VisitForm</title>
</head>
<body>

<h4>Visit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="ScheduleVisit" asp-controller="Visit" asp-route-id="ParticipantId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ParticipantId" />
                <p>Participant ID in model: @Model.ParticipantId</p>

            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input asp-for="ScheduledDate" class="form-control" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ActualVisitDate" class="control-label"></label>
                <input asp-for="ActualVisitDate" class="form-control" />
                <span asp-validation-for="ActualVisitDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="VisitType" class="control-label"></label>
                <select asp-for="VisitType" class="form-control" asp-items="Model.VisitTypeOption">
                      <option value="">--Select Visit Type--</option>
                </select>
                <span asp-validation-for="VisitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>              
                    <select asp-for="Status" class="form-control" asp-items="Model.StatusOption">
                        <option value="">--Select Status--</option>
                    </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
